/* =========================
VARIABLES
=============================*/
:root {
    --primary-color: #FFB03B;
    --secondary-color: #00A98D;
    --gray-color: #F1F1F1;
    --body-color: #616161;
    --headings-color: #2A2A2A;
    --footer-bg-color: #06061C;
    --body-font: Proxima Nova;
    --semiBold-headings-font: Proxima Nova SemiBold;
    --small-headings-font: Proxima Nova Bold;
    --headings-font: Playfair Display;
    --headings-bold-font: Playfair Display Bold;
}



/* =========================
FONTS
=============================*/
@font-face {
    font-family: Proxima Nova;
    src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
    font-family: Proxima Nova SemiBold;
    src: url(../fonts/proximanova-semibold.otf);
}

@font-face {
    font-family: Proxima Nova Bold;
    src: url(../fonts/ProximaNova-Bold.otf);
}

@font-face {
    font-family: Playfair Display;
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: Playfair Display Bold;
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
}



/* =========================
BASE
=============================*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    letter-spacing: .4px;
    color: var(--body-color);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: var(--headings-font);
    color: var(--headings-color);
}

main section {
    padding: 100px 0;
}



/* =========================
UTILITIES
=============================*/
.section-heading {
    font-size: 60px;
    letter-spacing: 1.2px;
    font-family: var(--headings-bold-font);
}



/* =========================
HEADER
=============================*/
.header.header--shrink {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

@media only screen and (min-width: 1660px) {
    .header .container,
    .banner .container {
        max-width: 1600px;
    }
}

.header .nav-link {
    padding: 0 30px !important;
    color: #fff;
}

.header.header--shrink .nav-link {
    color: #000;
}

.header .nav-link.active {
    color: var(--primary-color);
}

.header .nav-link span::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--primary-color);
    display: block;
    transition: .3s ease-in-out;
}

.header .nav-link.active span::after,
.header .nav-link:hover span::after {
    width: 100%;
}

.header nav.navbar {
    padding: 44px 0;
    transition: .3s ease-in-out;
}

.header.header--shrink nav.navbar {
    padding: 8px 0;
}

.header .navbar-toggler {
    padding: 0;
    border: none !important;
    outline: none !important;
    box-shadow: none;
}

.header .navbar-toggler svg {
    width: 40px;
}

.header .navbar-toggler svg path {
    fill: #fff;
}

.header.header--shrink .navbar-toggler svg path {
    fill: #000;
}


/* =========================
BANNER
=============================*/
.banner {
    padding: 295px 0;
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
}

.banner .banner__content {
    color: #fff;
    max-width: 65%;
}

.banner .banner__content .banner__heading {
    font-size: 74px;
    letter-spacing: .74px;
    line-height: 1;
    font-family: var(--headings-bold-font);
    color: inherit;
}

.banner .banner__content .banner__sub-heading {
    font-size: 50px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    color: inherit;
}

.banner .banner__content .banner__decription {
    margin-bottom: 30px;
    max-width: 705px;
}


/* =========================
STYLIST SECTION
=============================*/
.stylist-section .stylist-section__heading {
    margin-bottom: 45px;
}

.stylist-section .stylist-section__card-icon {
    width: 150px;
    height: 150px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-color);
    border-radius: 50%;
    margin-bottom: 20px;
}

.stylist-section .stylist-section__card-heading {
    font-family: var(--small-headings-font);
    margin-bottom: 14px;
}

.stylist-section .stylist-section__card-description  {
    font-size: 16px;
    letter-spacing: .16px;
}



/* =========================
FEATURES
=============================*/
.features-section {
    background-image: url(../images/feature_bg.png);
    background-size: cover;
    background-position: center;
}

.features-section .features-section__heading {
    color: #fff;
    margin-bottom: 43px;
}

.features-section .features-section__tabs {
    border-bottom: 1px solid rgba(136, 136, 158, .3);
    display: flex;
    justify-content: center;
    max-width: 960px;
    margin: auto;
}

.features-section .features-section__tab {
    font-size: 24px;
    padding: 0 32px;
    color: #88889E;
    font-family: var(--small-headings-font);
    cursor: pointer;
}

.features-section .features-section__tab.active {
    color: var(--primary-color);
}

.features-section .features-section__tab span {
    padding-bottom: 20px;
    display: inline-block;
    position: relative;
}

.features-section .features-section__tab span::after {
    content: '';
    width: 0;
    height: 1px;
    display: block;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    top: 100%;
    transition: .3s ease-in-out;
}

.features-section .features-section__tab.active span::after,
.features-section .features-section__tab:hover span::after {
    width: 100%;
}


.features-section .features-section__tabs-contents {
    margin-top: 44px;
}

.features-section .features-section__tabs-content {
    display: none;
}

.features-section .features-section__tabs-content.active {
    display: block;
}

.features-section .features-section__phone-top-text {
    font-size: 24px;
    color: #fff;
    letter-spacing: .29px;
    margin-bottom: 29px;
}

.owl-theme .owl-dots .owl-dot {
    border: none;
    outline: none;
    box-shadow: none;
}

.owl-theme .owl-dots .owl-dot span {
    background: var(--gray-color);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary-color);
}



/* =========================
FAQs
=============================*/
.faqs-section .container {
    max-width: 960px !important;
}

.faqs-section .faqs-section__heading {
    margin-bottom: 40px;
}

.faqs-section .faq-section__accordion {
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    padding: 19px 20px;
}

.faqs-section .faq-section__accordion:not(:last-child) {
    margin-bottom: 15px;
}

.faqs-section .faq-section__accordion.active {
    background-color: #F3F3F3;
}

.faqs-section .faq-section__accordion-qst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--semiBold-headings-font);
    font-size: 20px;
}

.faqs-section .faq-section__accordion-qst p {
    flex: 1;
}

.faqs-section .faq-section__accordion-icon {
    display: inline-flex;
    width: 32px;
    height: 32px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #DEDEDE;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    transition: .3s all ease-in-out;
}

.faqs-section .faq-section__accordion.active .faq-section__accordion-icon {
    transform: rotate(90deg);
    background-color: var(--primary-color);
}

.faqs-section .faq-section__accordion.active .faq-section__accordion-icon svg path {
    fill: #fff;
}

.faqs-section .faq-section__accordion-ans {
    display: none;
    font-size: 16px;
    letter-spacing: .16px;
    margin-top: 20px;
    max-width: calc(100% - 40px);
}

.faqs-section .faq-section__accordion.active .faq-section__accordion-ans {
    display: block;
}


/* =========================
CONTACT US
=============================*/
.contact-us-section {
    background-color: var(--gray-color);
}

.contact-us-section .contact-us-section__heading {
    margin-bottom: 20px;
}

.contact-us-section .contact-us-section__tagline {
    margin-bottom: 34px;
}

.contact-us-section .form-control {
    height: 60px;
    border-radius: 45px;
    outline: none !important;
    box-shadow: none !important;
    border-color: #D6D6D6 !important;
    color: inherit;
    font-size: inherit;
    margin-bottom: 20px;
}

.contact-us-section label {
    margin-bottom: 10px;
}

.contact-us-section label span {
    color: #FE0000;
}

.contact-us-section .contact-us-section__btn {
    padding: 9px 38px;
    border-radius: 45px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .36px;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    background-color: var(--secondary-color);
    color: #fff;
}

.contact-us-section .contact-us-section__btn-arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    width: 42px;
    height: 42px;
    background: #fff;
    border-radius: 50%;
    margin-right: -21px;
}



/* =========================
FOOTER
=============================*/
.footer {
    padding: 30px 0;
    background-color: var(--footer-bg-color);
    color: #fff;
}

.footer .nav {
    margin: 25px 0 15px;
}

.footer .nav .nav-link {
    color: inherit;
    padding: 5px 15px;
    font-size: 16px;
    letter-spacing: .32px;
}

.footer .footer__copyrights {
    font-size: 15px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.1);
}



/* =========================
LARGE DESKTOP
=============================*/
@media only screen and (min-width: 1660px) {
    body {
        font-size: 20px;
    }
}


/* =========================
Meduim DESKTOP
=============================*/
@media only screen and (max-width: 1599px) {
    body {
        font-size: 18px;
    }

    .banner {
        padding: 230px 0;
    }

    .banner .banner__content .banner__heading {
        font-size: 57px;
    }

    .banner .banner__content .banner__sub-heading {
        font-size: 42px;
    }

    .section-heading {
        font-size: 50px;
    }
}


/* =========================
TAB
=============================*/
@media only screen and (max-width: 991px) {
    body {
        font-size: 16px;
    }

    main section {
        padding: 50px 0;
    }

    .navbar-brand img,
    .footer__logo {
        max-width: 70px;
    }

    .header nav.navbar {
        padding: 8px 0;
    }

    .navbar-nav {
        margin-top: 20px;
        background: #fff;
    }

    .header .nav-link {
        display: inline-block;
        padding: 5px 15px !important;
        color: #000;
    }

    .banner .banner__content .banner__heading {
        font-size: 46px;
    }

    .banner .banner__content .banner__sub-heading {
        font-size: 30px;
    }

    .section-heading {
        font-size: 36px;
    }

    .contact-us-section .form-control {
        height: 50px;
    }

    .contact-us-section .contact-us-section__btn-arrow {
        width: 32px;
        height: 32px;
    }


    .features-section .features-section__tab {
        font-size: 22px;
        padding: 0 20px;
    }

    .features-section .features-section__tab span {
        padding-bottom: 10px;
    }

    .features-section__phone-container {
        max-width: 300px;
        margin: auto;
    }

    .carousel-on-mobile {
        margin: 0 !important;
    }
}


/* =========================
PHONE
=============================*/
@media only screen and (max-width: 768px) {
    .banner .banner__content {
        max-width: 100%;
    }

    .banner {
        padding: 130px 0;
    }

    .features-section .features-section__tab {
        font-size: 18px;
        padding: 0 15px;
    }

    .features-section .features-section__tab:first-child {
        padding-left: 0;
    }

    .features-section .features-section__tab:last-child {
        padding-right: 0;
    }

    .faqs-section .faq-section__accordion-qst {
        font-size: 16px;
    }
}